---
---

@import"{{ site.theme }}";

a {
  color: #df0101;
}
a:hover {
  color: #8f0000;
}

header {
  background-color: #df0101;
  border-bottom: solid 1px #8f0000;
}
header h2 {
  color: #ff6f6f;
}
pre code {
  color: #df0101;
}

#main-content h1:before {
  color: #ff6f6f;
}
#main-content h2:before {
  color: #ff6f6f;
}

#main-content h3:before {
  color: #ff6f6f;
}

h4:before {
  color: #ff6f6f;
}
h5:before {
  color: #ff6f6f;
}
h6:before {
  color: #ff6f6f;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header a.button {
    color: #8f0000;
    background-color: #ff6f6f;
  }
}